
.sidebar {
    position: relative;
    width: 44px;
    height: 100%;
    border-width: 0.1px;
    border-style: solid;
    border-top: none;
}

.sidebarInner {
    position:absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display:grid;

    
}

.titleSidebar {
    display: block;
    align-self: center;
    white-space: nowrap;
    transform: rotate(-90deg);
    color: black;
    margin-right: 50%;
}

.theorySvg {
    transform: rotate(180deg);
    color: black;
}

.sidebar:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}