.container {
    width: 100%;
    height: 5%;
    background-color: white;
    display: flex;
    position: relative;
    
}

.arrow {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 0;
    fill: #969696;
    right: 0;
    height: 100%;
    width: 20%;
    margin-left: auto;
}

.arrow:hover {
    background: #5AD77D;
    cursor: pointer;
    fill: #ffffff;
    transition: 0.5s;
}