.page {
    background-color: #DFDCF1;
    width: 100%;
    height: 100%;
    display: block;
}

.container {
    background-color: white;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
    vertical-align: middle;
}

.titleCard {
    font-size: 26px;
    color: black;
    font-family: "knewave-regular", system-ui;
    margin-left:  10%;
    margin-top: 5%;
}

.lineSvg {
    margin-left: 7%;
    width: 93%;
    height: 2%;
}

.list {
    overflow-y: scroll;
    height: 100%;
    margin-top: 2% ;
    margin-left:  7%;
}
