.menuElementContainer {
    width: 100%;
    cursor: pointer;
}

.menuElementContainer:hover {
    backdrop-filter: brightness(50%);
}

.menuElement {
    display: flex;
    flex-direction: row;
    gap: 2px;
    box-sizing: content-box;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    margin: 0 auto;
    width: fit-content;
}

.menuElementIcon {
    flex: 0;
}

.menuElementContent {
    flex: 1;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: 5px;
    background-color: grey;
    color: white;
}
