.doubleViewBoxContainer {
    display: flex;
    height: 100%;
    width: 90%;
    background: #f5f5f5;
    border-radius: 16px;
    margin: auto;
    margin-top: 3%;
    align-items: flex-start;
}

.viewBoxLeft {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 18%;
   
}

.viewBoxRight {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 70%;
}
