.container {
    position:  absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.48);
    z-index: 2;
}

.closeSvg {
    margin-top: 1%;
    margin-left: auto;
    cursor: pointer;
}

.theoryLayout {
    margin-top: 1%;
    margin-left: 1%;
    position:  absolute;
    width: 45%;
    height: 96%;
    z-index: 1;
    background-color: white;
}

.theoryBar {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 2%;
}

.title {
    margin-bottom: 5%;
    font-size: 28px;
    color: #000000;
}

.mainText {
    line-height: 20px;
    font-size: 16px;
    color: #000000;
}

.closeSvg:hover {
    transform: scale(1.3);
    fill: #000000;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
