.container {
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0px 16px 2px rgba(129, 129, 129, 0.2);
    border-radius: 16px;
    width: 100%;
    height: 25%;
  
    border-color: #EFEFEF;


}

.description {
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    flex-flow: column;
}


.description a {
    margin-bottom: 10%;
    color: black;
}

