
.sidebar {
    position: relative;
    width: 44px;
    height: 100%;
  
}

.sidebarInner {
    position:absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display:grid;
    background-color: #515151;
    
    

    
}

.titleSidebar {
    font-family: "gilroy-bold", system-ui !important;
    display: block;
    align-self: center;
    white-space: nowrap;
    transform: rotate(-90deg);
    color: rgb(255, 255, 255);
    margin-right: 50%;
}

.theorySvg {
    transform: rotate(180deg);
    color: black;
}

.sidebar:hover {
   
}