
.sidebar {
    position: relative;
    width: 35px;
    height: 97%;
    border-radius: 16px;
    overflow: hidden;
}

.sidebarInner {
    position:absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display:grid;
    background-color: #ececec;
}

.titleSidebar {
    font-family: "gilroy-light", system-ui !important;
    display: block;
    align-self: center;
    white-space: nowrap;
    transform: rotate(-90deg);
    color: rgb(0, 0, 0);
    margin-right: 50%;
}

.theorySvg {
    transform: rotate(180deg);
    color: black;
}

.sidebar:hover {
   
}