@font-face { font-family: gilroy-light; src: url('fonts/Gilroy-Light.otf'); } 
@font-face { font-family: gilroy-bold; src: url('fonts/Gilroy-ExtraBold.otf'); } 
  
  


.container {
    background-color: white;
    padding: 0 !important;
}

.layout {
    width: 100%;
    height: 100%;
    background-image: url( './background.svg' );
    background-attachment: fixed;
    

}

.containerContent {
    width: 100%;
    height: 100%;
    display: flex;
    position:relative;
    flex-direction: column;
    
}

.containerBackground {
    position:relative;
    display: flex;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.containerContent a{
    font-family: "gilroy-light", system-ui;
    color: black;
}


.template {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
  
}

.firstDescription {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    margin-top: 10%;
    margin-left: 2%;
}

.header {
    font-family: "gilroy-bold", system-ui !important;
    width: 100%;
    height: 50%;
    margin-bottom: 1%;
    font-size: 36px;
    text-align: center;

}

.description {
    color: black;
    font-size: 22px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 5%;
}

.imgFirst {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 800px;
    height: 800px;
    animation: imageshuita 5s ease infinite;
}


@keyframes imageshuita {
    0% {
        background-image: url('animations/people_waving/3imgdiplom.png');
    }

    100% {
        background-image: url('animations/people_waving/2imgdiplom.png');
    }
}

.imgSecond {
    background-repeat: no-repeat;
    width:700px;
    height: 700px;
}

.button {
    align-self: center;
    font-size: 30px;
    margin-bottom: 7%;
    padding: 30px; /* Поля вокруг текста */
    transition: 1s linear; /* Время изменения */
}

.button:hover {
    color: #fff; /* Цвет текста */
    background: #7f88ff; /* Цвет фона */
    background-size: 600px;
    cursor: pointer;
}