.labelContainer {
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    border-radius: 16px;
    overflow: hidden;
}

.labelPrimary {
    display: flex;
    background-color: @background-color-main;
    padding: 5px 10px;
    white-space: nowrap;
    color: @font-color-primary;
    align-items: center;
    justify-content: center;
}

.labelSecondary {
    display: flex;
    background-color: @background-color-primary;
    flex: 1;
    padding: 15px 20px;
    white-space: nowrap;
    color: @font-color-secondary;
    align-items: center;
    justify-content: center;

}
