.user {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content:flex-start;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

.avatar {
    border-radius: 50%;
    background-color: #686868;
    width: 45px;
    height: 45px;
}

.user:hover {
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

.user:hover .arrowClicked {
    rotate: 180deg;
    transition-property: rotate;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

.logButton { 
    font-size: 16px;
    font-family: "codec-pro", system-ui;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none; 
    outline: none; 
    gap: 13px;
}

.hidden {
    opacity: 1;
}

.user:hover .hidden {
    opacity: 1;
}

.logButton:hover {
    color:#4CAF50;
    cursor: pointer;
}

.profileContainer {
    min-width: 150px;
   width: 10%;
   margin-left: 5%;
}

