.page {
    width: 100%;
    height: 100%;
    background-color: #DFDCF1;
}

.container {
    position:absolute;
    display: flex;
    flex-flow: row;
    left:50%;
    transform:translate(-50%);
    width: 90%;
    height: 99%;
    background-color: white;
}


.leftContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    gap: 3%;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
}

.selected {
    text-align: center;
    width: 90%;
    background-color: #ffffff;
    color: rgb(0, 0, 0) !important;
    padding: 2%;
    border-radius: 16px;
}

.rightContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 3%;
    align-items: flex-start;
    justify-content: center;
    font-size: 18px;
    margin-left: 5%;
}

.mainHeader {
    font-size: 32px !important;
    font-weight:lighter;
    background: #515151;;
    color: white !important;
    border-radius: 16px;
    padding: 1%;
    width: 30%;
}

.inputName, select{
    width: 30%;
    height: 10%;
    border-radius: 5px;
    border: 0;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 20px;
}

.mainContent {
    margin-left: 1%;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 2%;
    flex-direction: column;
}


.saveButton {
    margin-top: 5%;
    border: 0;
    background: 0;
    border-style: solid;
    width: 30%;
    height: 10%;
    border-radius: 16px;
    font-size: 18px;
    border-color: #5AD77D;
    font-family: "gilroy-light", system-ui;
    border-width: 1px;
}

.saveButton:hover {
    transform: scale(1.03);
    background-color: #5AD77D;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}


.layoutLeft a:hover{
    color: #5265f6; 
}

.form {
    width: 100%;
    height: 100%;
}