.editorContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
}

.editorContainer > .areaLast {
    flex-grow: 1;
}

.editorBlock {
    counter-reset: line;
    border: 1px solid #ced4da;
}
  
.editorBlock textarea {
    outline: none;
    padding-left: 60px !important;
}

.editorBlock pre {
    padding-left: 60px !important;
}

.editorBlock .editorLineNumber {
    position: absolute;
    left: 0px;
    color: #cccccc;
    text-align: right;
    width: 40px;
    font-weight: 100;
}
